<html lang="en">
  <head>
<meta charset="utf-8" />
<title>{{title}}</title>
<link href="output.css" rel="stylesheet" />
<meta name="description" content="{{description}}" />
    <script src="components/navigation.js" type="text/javascript" defer></script>
    </head>

<body>
	<navigation-component></navigation-component>	
<div class="container h-screen w-full mx-auto items-center">
  <div class="flex flex-col flex-wrap pb-6 mb-8 md:p-6 md:mb-0 md:flex-row">
   <div class="z-40 w-54 md:w-[900px] h-24 rounded-lg bg-blue">
    <ul class="invisible md:visible md:flex md:flex-row md:gap-x-8 md:font-jua md:text-white md:pl-10 md:mt-5 md:text-xl">
	<li class="hover:scale-105"><a href="#">Subscribe</a></li>
	<li class="hover:scale-105"><a href="#contact-us">Get in touch</a></li>
    </ul>
   </div>
  <div class="z-50 -mt-16 text-2xl md:mt-5 md:-ml-72 font-permanent-marker text-white md:text-6xl text-left">
  <h1 class="text-middle">USVI Homestead</h1>
</div>
 <div class="relative z-0">
   <div class="md:absolute z-0 md:-mt-[775px] md:-mr-[275px] md:top-0 md:right-0 md:h-[1373.3px] md:w-[876.24px] md:bg-[#F07167] md:rotate-45 md:transform md:origin-top-center md:rounded-lg"></div>
 </div>
</div>
<!-- middle section -->
<div class="flex flex-col md:flex-row md:gap-x-16">
 <div class="z-40">
   <section id="hero" class="z-40 h-64 bg-center">
    <div class="container w-[1300px]"></div>
   </section>
<div class="p-6 bg-white/50">
 <h2 class="text-black font-jua text-xl">Travel</h2>
  <p class="text-[#8A8C99] font-jua text-sm">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
  nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui
  officia deserunt mollit anim id est laborum.</p>
</div>
</div>
  <ul class="invisible md:visible md:flex md:flex-row md:z-40">
   <li class="group items-center invisible md:visible md:h-[457px] md:w-[120px] md:bg-[#fed9b7]">
   <span class="invisible relative md:visible material-symbols-outlined text-6xl p-12 text-slate-600 opacity-75"> psychiatry<span class="group-hover:opacity-100 absolute inset-x-0 top-4 text-center2 text-center font-jua transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md opacity-0">Farming</span>
</span>
 </li>
  <li class="group items-center md:h-[457px] md:w-[120px] md:bg-[#00afb9]">
   <span class="invisible relative md:visible material-symbols-outlined text-6xl p-12 text-slate-600 opacity-75">explore<span class="group-hover:opacity-100 absolute inset-x-0 top-4 text-center2 text-center font-jua transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md opacity-0">Travel</span>
</span>
 </li>
 </ul>
</div>
 <div class="flex flex-col flex-wrap -mt-16 md:mt-0 md:flex-row">
  <div class="z-40 p-6">
  <div class="py-2">
  <h2 class="text-black font-jua text-lg">Latest News</h2>
</div>
<div class="flex flex-col gap-y-8 md:flex-row md:gap-y-0 md:gap-x-56 justify-around">
<div class="w-72 h-72 hover:drop-shadow-2xl hover:scale-105 transition-all md:w-80 md:h-80 bg-[#F07167]">
<div>
<section id="build" class="container h-[171px] w-72 md:w-80"></section>
</div>
<div>
<h2 class="font-jua p-4 text-xl text-white drop-shadow-2xl">Building a Road</h2>
<div class="ml-24 h-2 w-40 border-b-8 boarder-white"></div>
</div>
</div>
<div class="w-72 h-72 hover:drop-shadow-2xl hover:scale-105 transition-all md:w-80 md:h-80 bg-[#fed9b7]">
<div>
<section id="container" class="container h-[171px] w-72 md:w-80"></section>
</div>
<div>
<h2 class="font-jua p-4 text-xl text-white drop-shadow-2xl">Moving</h2>
<div class="ml-24 h-2 w-40 border-b-8 boarder-white"></div>
</div>
</div>
<div class="w-72 h-72 hover:drop-shadow-2xl hover:scale-105 transition-all md:w-80 md:h-80 bg-[#00afb9]">
<div>
<section id="farm" class="container h-[171px] w-72 md:w-80"></section>
</div>
<div>
<h2 class="font-jua p-4 text-xl text-white drop-shadow-2xl">Farming</h2>
<div class="ml-24 h-2 w-40 border-b-8 boarder-white"></div>
</div>
</div>
</div>
</div>
</div>
<div id="#contact-us" class="flex flex-col p-16 rounded-xl bg-[#0081A7]">
	<!--Form-->
<h1 class="font-permanent-marker mb-6 text-3xl mx-auto text-white md:text-6xl">Contact Us </h1>
<form class="w-full max-w-lg mx-auto">
<div class="flex flex-wrap mb-6">
<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
<label class="block uppercase tracking-wide text-white text-sm font-jua mb-2" for="grid-first-name">First Name</label>
<input class="appearance-none block w-full bg-gray-200 font-jua text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane"/>
<p class="text-white text-xs italic">Please fill out this field.</p>
</div>
<div class="w-full md:w-1/2 px-3">
<label class="block uppercase tracking-wide text-white text-sm font-jua mb-2" for="grid-last-name">Last Name</label>
<input class="appearance-none block w-full bg-gray-200 font-jua text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe"/>
</div>
</div>
<div class="flex flex-wrap -mx-3 mb-6">
<div class="w-full px-3">
<label class="block uppercase tracking-wide text-white text-sm font-jua mb-2" for="grid-password">email</label>
<input class="appearance-none block w-full bg-gray-200 font-jua text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email" placeholder="you@youremail.com"/>
</div>
</div>
<div class="flex flex-wrap -mx-3 mb-2">
<div class="w-full px-3">
<label class="block uppercase tracking-wide text-white text-sm font-jua mb-2" for="grid-city">Message</label>
<textarea class="appearance-none block w-full bg-gray-200 font-jua text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="message" type="textarea" placeholder="enter message..."></textarea>
</div>
</div>
</form>
  </div>
</div>
</body>
</html>
